<div id="wrapper">
	<div id="signin-form">
		<title>Sign In</title>
		<br></br>

		<%= form_for(:session, url: sessions_path) do |f| %>
		<div class="signin-user">
		  <%= f.label :email_address %>
		  <%= f.email_field :email_address, autofocus: true, class: "col-lg-1 control-label", class: "form-control" %>
		 	<br>
		 	<%= f.label :password %>
		 	<%= f.password_field :password, class: "col-lg-1 control-label", class: "form-control" %>

		 	<br>
			 	<button><%= f.submit 'Sign In' %>
			 	<%= flash.now[:danger] %></button>
		</div>
		<% end %>
	</div>
</div>