<div class=todo_container>
<title>User Profile</title> <!-- Use the provide with the dynamic titles -->

<div class="container-fluid2">
  <div id="wrapper">
    <h2 class="text-center"><strong><%= "Hello" + " " + @user.first_name.capitalize + " " + @user.last_name.capitalize + "!" %></strong></h2>
    <br>
    <h3 class="goals-center">My Goals</h3>
    <br>


    <ul>
      <% @todo_lists.each do |todo_list| %>
        <h3 class="goals-center">
          <strong>
            <div class="goals-list">
            <%= link_to todo_list.title, todo_list_path(todo_list) %>
            </div>
          </strong>
        </h3>
        <br></br>
        <center>
          <div class="links">
            <button>
        <%= link_to "Delete", todo_list, method: :delete, data: { confirm: 'Are you sure?' } %>
            </button>
          </div>
      </center>
        <br></br>
      <% end %>
    </ul>
    </br>
    </br>

    <center> 
      <div class="links">
      <button>
      <%= link_to "Edit Profile", edit_user_path(@user)%>
      </button>
      <button>
        <%= link_to "Goals", todo_lists_path(@user)%>
       </button>
       <button>
         <%= link_to "Sign Out", signout_path, method: "delete"%>
       </button>
     </div>
	   </center>
	</div>
</div>
</div>