<title>User Profile</title> <!-- Use the provide with the dynamic titles -->

<div class="container-fluid2">
  <div id="wrapper">
    <h2 class="text-center"><strong><%= "Hello" + " " + @user.first_name.capitalize + " " + @user.last_name.capitalize + "!" %></strong></h2>
    <br>
    <h3 class="goals-center">My Goals</h3>
    <br>


    <ul>
      <% @todo_lists.each do |todo_list| %>
        <h3 class="goals-center"><strong><%= link_to todo_list.title, todo_list_path(todo_list) %></strong></h3>
        <br></br>
        <!-- <center> -->
        <%= link_to "Delete", todo_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"  %>
        <br></br>
      <% end %>
    </ul>
    </br>
    </br>

    <center> 
      <button>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "link-button" %>
      </button>
      <button>
        <%= link_to "Goals", todo_lists_path(@user), class: "btn btn-default" %>
       </button>
       
       <button>
         <%= link_to "Sign Out", signout_path, method: "delete", class: "btn btn-default"%>
       </button>
	   </center>
	</div>
</div>